/*reglage du texte overflow dans le card allcontenu*/
.description{
    display: -webkit-box;
    min-height: 90px;
    max-height: 90px;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/*taille de l'image dans le card profil*/
.image-size{
    width: 130px;
    height: 130px;
    border-radius: 60px;
}

/*style pour modification photo profil card profil*/

#imageprofil { 
    margin: 10px 0px;
}

.sauvegarde {
    margin: 0px 80px;
}